.container {
	padding: 30px;
	margin-left: 80px;
}
.title {
	color: #1877F2;
	font-size: 54px;
	transition: 1s;
}
.contact__img {
	object-fit: contain;
	width: 30%;
	justify-content: center;
	transition: 1s;
}
.contact {
	padding: 50px;
	background-color: #4e4e75;
	left: 0;
	bottom: 0;
	margin-top: 5%;
	color: white;
	text-align: center;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1), 
		0 1px 20px 0 rgba(0,0,0,0.19);	
	transition: 1s;
}