body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDEBE6;
  transition: 1s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app__nav {
	position: sticky;
	top: 0;
	z-index: 1;
	background-image: linear-gradient(#fe0000, #fe0034);
	padding: 15px;
	object-fit: contain;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 15.5%;
	padding-right: 15.5%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 
		0 6px 20px 0 rgba(0,0,0,0.19);	
	transition: 1s;
}
.nav__link {
	text-decoration: none;
	color: #fafafa;
	margin-right: 10%;
	font-weight: bold;
	font-size: 18px;
}
.nav__icon {
	width: 70px;
	margin-top: -10px;
	margin-bottom: -11px;
	margin-right: 40px;
	object-fit: contain;
	transition: 1s;
}
.app__img {
	width: 50%;
	text-align: center;
	object-fit: contain;
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	transition: 1s;
}
.app__menu {
	color: #fafafa;
	text-align: center;
	background-color: #fe0000;
	padding: 20px;
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 
		0 6px 20px 0 rgba(0,0,0,0.19);	
	transition: 1s;
}
.app__menu:hover {
	background-color: #d91c1c;
}
.button__alignment {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.footer {
	padding: 50px;
	background-color: #4e4e75;
	left: 0;
	bottom: 0;
	margin-top: 50px;
	color: white;
	text-align: center;
}